<%# locals: (budget:) %>

<div class="flex flex-col gap-4 items-center justify-center h-full">
  <%= icon "alert-triangle", size: "lg", color: "destructive" %>
  <p class="text-secondary text-sm text-center">您的预算分配已超出上限，请修正分配。</p>

  <%= render DS::Link.new(
    text: "修正分配",
    variant: "secondary",
    size: "sm",
    icon: "pencil",
    icon_position: "right",
    href: budget_budget_categories_path(budget)
  ) %>
</div>
