@utility fg-gray {
  color: var(--aurora-t1);
}

@utility fg-contrast {
  color: var(--aurora-t2);
}

@utility fg-inverse {
  @apply text-white;

  @variant theme-dark {
    @apply text-gray-900;
  }
}

@utility fg-primary {
  color: var(--aurora-t0);
}

@utility fg-primary-variant {
  color: var(--aurora-t0);
}

@utility fg-secondary {
  color: var(--aurora-t1);
}

@utility fg-secondary-variant {
  color: var(--aurora-t2);
}

@utility fg-subdued {
  color: var(--aurora-t2);
}
