@utility text-primary {
  color: var(--aurora-t0);
}

@utility text-inverse {
  @apply text-white;

  @variant theme-dark {
    @apply text-gray-900;
  }
}

@utility text-secondary {
  color: var(--aurora-t1);
}

@utility text-subdued {
  color: var(--aurora-t2);
}

@utility text-link {
  color: var(--aurora-em);
}
